body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

/* Centraliza e estiliza o container do carrinho */
.carrinho-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Título do carrinho */
h1 {
    color: #4e3427;
    margin-bottom: 20px;
}

/* Estilo da tabela de itens do carrinho */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table td {
    color: #4e3427;
    font-size: 1em;
}

table input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Botões de ação (atualizar e remover) */
button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

button[type="submit"] {
    background-color: #4e3427;
    color: white;
}

button[type="submit"]:hover {
    background-color: #3e291f;
}

form[action="remover_item.php"] button {
    background-color: #f44336;
}

form[action="remover_item.php"] button:hover {
    background-color: #d32f2f;
}

/* Total do carrinho e botão de finalizar compra */
.total-container {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

a[href="finalizar_compra.php"],a[href="cardapio.php"]  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e3427;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

a[href="finalizar_compra.php"]:hover {
    background-color: #3e291f;
}




.carrinho-vazio {
    text-align: center;
    margin-top: 30px;
}

.carrinho-vazio img {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    opacity: 0.6;
    margin-top: 10px;
}

.carrinho-vazio p {
    font-size: 1.2em;
    color: #4e3427;
    margin-bottom: 10px;
}
